body {
    background-image: url('./assets/leafBackground.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    letter-spacing: .1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: .2em;
    line-height: 0px;
    font-size: xx-large;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;;
    }
    100% {
        opacity: 1;
    }

}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.border {
    border-style: solid;
}


#intro-question {
    height: 100%;
    width: 100%;
}

#backlayer{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 3;
    color: white;
    background-color: rgba(162, 171, 169,.94);
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0em;
    font-size: x-large;
    font-weight: 300;
    line-height: 1.4em;
    /* box-shadow: inset 0 0 1000px rgb(255, 255, 255,1); */
}

#intro-question b{
    font-weight: 500;
}

#intro-question a{
    text-decoration: none;
    color: white;
}

#intro-question .intro-text{
    height: 85%;
}



#intro-question.hide {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.1s;
    transition: all 1500ms ease;
    
}

.hover{
    cursor: pointer;
}

#intro-question .hover:hover{
    font-weight: 500;
}

#intro-question .view-hover:hover{
    border-left: none;
    padding-left: 0;
    font-weight: 500;
    margin-top: -5px;
    text-decoration:  underline;
    cursor: pointer;
}

#intro-question .section-hover:hover{
    border-left: 2px solid white;
    padding-left: 5px;
}

#intro-question .section-hover-lock:hover{
    border-left: 2px solid white;
    padding-left: 7px;
    margin-right: -9px;
}

#sitemap {
    letter-spacing: 0em;
}

.highlighted.hover:hover {
    margin-left: 5px;
    font-weight: 400;
}

#home:hover {
    border-left: 5px solid white;
    font-weight: 500;
}

.links .hover:hover{
    margin-top: -5px;
}

.views .hover:hover{
    margin-top: -5px;
}


#intro-question .intro-views{
    width: 0%;
    height: 45px;
    display: flex;
    justify-content: center;
    border-style: solid;
    margin-left: 60px;

}

#intro-question .intro-views img{
    height: 35px;
}

#intro-question .move {
    padding-top: 12px;
}

#intro-question #fishView {
    padding-bottom: 5px;
    margin-top: 5px;
}

nav {
    height: 100%;
    width: 100%;
}

nav .topbar {
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    color: #5f6d6a;
    opacity: 1;
    margin-top: 0;
}


nav .top.expanded {
    height: 650px;
    background-color: rgb(255, 255, 255,0.95);
    /* display: none; */
    position: fixed;
    width: 100%;
    /* left: -100%; */
    top: -650px;
    transition-delay: 0.1s;
    transition: all 600ms ease;
    z-index: 2;
    margin-top: 85px;
    
}

nav .top.expanded.mobile {
    top: 0;
    height: 100%;
    margin-top:0;
    /* transition-delay: 0.1s;
    transition: all 600ms ease; */
}


nav .top.expanded .name {
    padding-left: 20px;
}

img.hamburger  {
    height: 40px;
    width: 40px;
}

nav .x { 
    padding-right: 20px;
    font-size: 40px;
    font-variation-settings: 
    'FILL' 0, 
    'wght' 600, 
    'GRAD' 0, 
    'opsz' 48; 
    color: #5f6d6a; 
}

nav ul {
    list-style: none;
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    text-align: center;
    line-height: 100px;
    color: #ffffff; 
    width: 100%;
}

.highlighted {
    background-color: #5f6d6a;
}

nav .links {
    height: 5%;
}

nav .links-whitespace{
    height: 15%;
}

nav .top.expanded .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav .top.expanded .links img {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

nav .links #email {
    color: #5f6d6a;
    font-size: 50px;
    font-variation-settings:'FILL' 1;
    padding-right: 15px;
    padding-left: 15px;
}

nav .top.expanded .views{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 8%; */
}


nav .top.expanded .views img {
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.desktop, .desktop img {
    display: none;
}

.views.mobile div{
    width: 100%;
    text-align: center;
    color: #5f6d6a;
    letter-spacing: 0em;
    font-size: xx-large;
}

nav .bottombar {
    height: 100px;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    color: #5f6d6a;
    opacity: 1;
    margin-top: 0;
}

nav .bottombar.expanded {
    display: none;
}

#fishView {
    padding-right: 12px;
}
#leafView{
    padding-right: 15px;
}

.views {
    color: #5f6d6a;
    /* font-family: 'Source Code Pro', monospace;
    letter-spacing: 0em;
    line-height: 2em; */
}

main {
    color: white;
    position: absolute;
    top: 85px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    /* transition-delay: 0.1s;
    transition: all 600ms ease; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.viewscreen {
    height: 80%;
    width: 70%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #5f6d6a;
    letter-spacing: .0em;
    font-size: large;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(236, 236, 236, .9);

}
.viewscreen a{
    /* text-decoration: none; */
    color: #5f6d6a;
}


/* Home Section Content */
.viewscreen .home{
    right: -120%;
    display: none;
}

.viewscreen .home.visible{
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    width: 100%;
    overflow-y: auto;
    display: flex;
}


.home .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    position: relative;
    top: 5px;
}



.home #profilepic{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
    right: 0;
    margin-right: -5px;
    bottom: 0;
    margin-bottom: -5px;
    align-self: flex-end;
    float: right;
    /* display: none; */
}

.home #profilepic:hover  {
    bottom: 5px;
    right: 2px;
}

.viewscreen .bio{
    display: none;
}

.viewscreen .bio.visible{
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    width: 100%;
    overflow-y: auto;
    display: block;
}
.viewscreen .projects{
    display: none;
}

.viewscreen .projects.visible{
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    width: 100%;
    overflow-y: auto;
    display: block;
}
.viewscreen .resume{
    display: none;
}

.viewscreen .resume.visible{
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    width: 100%;
    overflow-y: auto;
    display: block;
}



/* Fish View Properties */

body.fish {
    background-image: url('./assets/fishBackground.jpg');
}

nav .topbar.fish {
    color: #025762;
}

nav .top.collapsed.fish{
    color: #025762;
}

nav .x.fish {
    color: #025762;
}

.highlighted.fish{
    background-color: #025762;
}
nav .bottombar.fish {
    color: #025762;
}

nav .bottombar.fish{
    color: #025762;
}

.views.fish {
    color: #025762;
}

.viewscreen.fish {
    color: #025762;
}
.viewscreen a.fish{
    /* text-decoration: none; */
    color: #025762;
}

nav .links #email.fish {
    color: #025762;
}


/* Desktop Properties */

@media (min-width: 700px) {
    
    body {
        font-weight: 300;
        font-size: x-large;
        letter-spacing: .2em;
    }

    #intro-question {
        font-size: large;
    }

    nav {
        width: 300px;

    }
    nav .top.expanded {
        display: block;
        height: 100%;
        width: 300px;
        background-color: rgb(95, 109, 106, 0.4);
        top: 0;
        margin-top: 0;
        /* transition-delay: 0.1s;
        transition: all 600ms ease; */
        }

    nav .bottombar {
        display:none;
    }

    nav .top.expanded.fish {
        background-color: rgb(2, 87, 98, 0.45);
    }
    nav .x, .whitespace {
        display: none;
    }



    nav .top.expanded .name{
        padding: 0;
        width: 100%;
        text-align: center;
        color: white;
    }

    nav li {
        color:#5f6d6a;
    }

    .highlighted {
        background-color: white;
    }
    
    nav .mobile, nav img.mobile{
        display: none;
    }

    nav .desktop, nav img.desktop {
        display: block;
    }

    nav .top.expanded .links.mobile{
        height: 0;
    }

    .desktop, .desktop img {
        display: block;
        height: 20%;
    }

    nav .views.desktop {
        display: block;
    }

    main {
        top: 0;
        bottom: 0;
        right: 0;
        left: 300px;
        
    }

    .views {
        color: white;
    }

    main {
        width:auto;
        font-weight: 400;
    }

    .viewscreen {
        height: 80%;
        width: 80%;
    }

    .home #profilepic {
        width: 300px;
        height: 300px;
    }

    nav .links #email {
        color: white;
    }

    nav .links #email.fish {
        color: white;
    }
    nav .links #email.leaf {
        color: white;
    }

    /* Fish View Properties */


    nav li .fish {
        color: #025762;
    }
    .highlighted.fish{
        background-color: white;
    }

    .views.fish{
        color: white;
    }

}
